@import url('https://fonts.googleapis.com/css?family=Muli');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* css for icons */
.svg-icon {
    width: 1em;
    height: 1em;
}

.margin{
    margin: 0 120px;
}

audio{
    width: 250px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #fff;
}

.svg-icon circle {
    stroke: #fff;
    stroke-width: 1;
}
/* End */
.text-blue {
    background-color: #4e6fc4;
    color: white;
}

.styless-button,
.styless-button:focus{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: none;
}

.link,
.link:hover,
.link:active {
    text-decoration: none;
    color: black;
}


.alert {
    width: 60%;
    padding: 3px;
    text-align: center;
    margin: auto;
    opacity: 0.9;
    background: #f4f4f4;
    color: #333;
}

.alert-danger {
    background: #dc3545;
    color: #fff;
}

.alert-success {
    background: #28a745;
    color: #fff;
}

.HeroSection {
    width: 100%;
    height: 100vh;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*  Login page css  */

.login {
    background-color: white;
    width: 70%;
    height: auto;
    border-radius: 8px;
    border: 2px solid rgb(196, 196, 196);
}

.login form {
    width: 60%;
    margin: auto;
}

.login form button {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 7px;
}

.login h4 {
    margin-top: 35px;
    font-weight: bold;
    color: #000;
}

.login label {
    font-weight: bold;
    color: #000;
}

.signup,
.signup:hover {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.forgetPassword,
.forgetPassword:hover {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 13px;
}


@media (max-width: 768px) {
    .button {
        display: block;
        font-size: 1.1rem;
        text-align: center;
    }
    audio{
        width: 120px;
    }
    .margin{
        margin: 0;
    }
}